body {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}
.mainsection-1 {
    background-color: #1F2937;  
    padding: 20px 250px 75px 250px;
    overflow: scroll;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:  1;
    align-items: center;
    color: #F9FAF8;
}
.subsection-1-1 p {
    color: #E5E7EB;
    font-size: 18px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    gap: 30px;
}
nav a {
    text-decoration: none;
    color: #E5E7EB;
    width: auto;
    font-size: 18px;
}
.mainsection-1 .subsection-1-1 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   flex: 1;
   color: #E5E7EB;
   margin-top: 100px;
   padding: 0;
}
.subsection-1-1 h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.subsection-1-1 .image-top {
    width: 55%; 
    height: 300px; 
    padding: 0; 
    margin: 0;   
}
.image-top img {
    object-fit: cover;
    width: 100%; 
    height: 300px;  
    margin: 0;
}
.subsection-1-1 button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
}
.mainsection-2 h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.figures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 150px;
}
figure {
    width: 205px;
    box-sizing: border-box;
}
figure img {
    object-fit: cover;
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 200px;
    
    height: 200px;
}
.mainsection-3 {
    background-color: #E5E7EB;
    padding: 20px;
}
.main-quote {
    width: 75%;
    margin: 0 auto;
}
.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    margin: 90px auto 30px auto;
    width: 100%;
}
.author {
    font-size: 36px;
    font-weight: 800;
    text-align: right;
    width: 100%;
}
.mainsection-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 150px;
}
.mainsection-4 section {
    display: flex;
    width: 70%;
    height: 70px;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #3882F6;
    border-radius: 10px;
}
.texts h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:#F9FAF8;
}
.texts p {
    margin-top: 1px;
    padding-top: 1px;
    font-size: 18px;
    color: #E5E7EB;
}
.button button {
    background-color: inherit;
    color:#F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px;
}
.mainsection-5 {
    background-color: #1F2937;
    text-align: center;
    padding: 15px;
    color: #E5E7EB;
}
.mainsection-5 p::after {
    content: " 2021";
}